@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Audiowide';
}

.background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background: rgba(61, 61, 61, 0.445);
}

.background video {
    position: fixed;
    z-index: -100;
}




/********* NAVBAR *******/

.navbar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    font-family: 'Audiowide';
    align-items: center;
}

.navbar .hidden {
    display: none;
}

.navbar .logo {
    font-size: 2em;
}

.navbar a {
    color: white;
}

.navbar .navbar_links ul {
    display: flex;
}

.navbar .navbar_links ul li {
    margin-right: 3vw;
}

.navbar .navbar_links li:active a {
    color: rgb(26, 109, 218);
}

.menu {
    display: none;
}

.image_logo {
    width: 10vw;
    height: auto;
}

@media screen and (max-width: 850px) {
    

    .image_logo {
        width: 30vw;
        height: auto;
    }

    .background video {
        display: none;
    }

    body {
        background: rgb(31, 31, 31);
    }

    .navbar {
        padding: 0;
        position: absolute;
        z-index: 1;
    }

    .navbar .logo {
        font-size: 1.3em;
        margin-left: 3vw;
    }

    .navbar .navbar_links ul li {
        margin-right: 0;
    }
    
    .navbar_links {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(22, 22, 22, 0.699);
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        
    }

    .navbar_links.mobile-menu {
        margin-left: 0;
    }

    .navbar_links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3em;

    }

    .navbar_links ul li {
        margin: 2vh 0;
    }


    


    /******* BOUTON BURGER ********/


    .menu {
        z-index: 2;
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        margin: 20px;
        margin-left: auto;
      }

      .line {
        fill: none;
        stroke: white;
        stroke-width: 3;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 3;
      }

      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 3;
      }

      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 3;
      }

      .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 3;
      }

      .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 3;
      }

      .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 3;
      }

    /******* FIN BOUTON BURGER ********/

    

}



/********* FIN NAVBAR *******/

/********* PAGE D'ACCUEIL *********/

.title {
    margin-top: 30vh;
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 1.3em;
}

.accroche {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 5vh;
    font-size: 1.2em;
    font-weight: 300;
    color: #65B6E6;
}

.call-to-action {
    display: flex;
    border: none;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    padding: 15px;
    width: 300px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-size: 1em;
    background-color: #65B6E6;
    z-index: 2;
}

.call-to-action button {
    font-weight: 400;
}

.container h2 {
    margin-top: 3vh;
    font-size: 1.2em;
    font-family: 'Audiowide';
    font-weight: 500;
}

.paraph1 {
    max-width: 85%;
    margin: 5vh auto 0 auto;
}

.paraph1 img {
    margin-top: 5vh;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
}
    
.paraph1 p {
    margin-top: 5vh;
}

.call-to-action2 {
    display: flex;
    border: none;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    padding: 15px;
    width: 300px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-size: 1em;
    background-color: #65B6E6;
    z-index: 2;
}

.ou {
    text-align: center;
    font-family: 'Audiowide';
    font-weight: 500;
    font-size: 1.2em;
}








/********* FIN PAGE D'ACCUEIL *********/


/******** PAGE PRODUIT *******/

.contenant p {
    font-weight: 300;
}

.p1 {
    max-width: 85%;
    margin: 20vh auto 0 auto;
}

.p1 h1 {
    margin-bottom: 6vh;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.p1 h2 {
    margin-bottom: 3vh;
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 1.2em;
}

.p1 .call-to-action {
    display: flex;
    border: none;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    padding: 12px;
    width: 300px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    background-color: #65B6E6;
    z-index: 2;
}

.contenant h3 {
    font-family: 'Audiowide';
    font-weight: 400;
}

.p1_mockup {
    margin-top: 5vh;
    width: 100vw;
}

.p1_mockup img {
    width: 100vw;
    height: auto;
}

.p2 {
    max-width: 85%;
    margin: 0 auto 0 auto;
}

.trait {
    width: 20vw;
    height: 2px;
    background: #65B6E6;
    border: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.p2 p {
    margin-top: 3vh;
}

.p2 h3 {
    margin-top: 3vh;
    font-size: 1.2em;
}

.p3 {
    max-width: 85%;
    margin: 6vh auto 0 auto;
}

.trait_centrer {
    width: 50vw;
    height: 2px;
    background: #65B6E6;
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

.p3 h2 {
    margin: 6vh 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Audiowide';
}

.p3 p {
    margin: 3vh 0;
}

.p4 {
    font-family: 'Roboto';
    background: #ffffff;
    width: 80%;
    max-width: 400px;
    padding: 15px;
    border-radius: 10px;
    color: #141414;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

.p4 h3{
    font-family: 'Roboto';
}

.p4 img {
    width: 20px;
    height: 20px;
}

.classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 1vh;
    width: 100%;
    margin-left: 10%;
}

.checkbox img {
    margin-right: 10%;
}




/******** FIN PAGE PRODUIT *******/



/******* PAGE NOS VALEURS ********/


.contenant2 {
    font-weight: 300;
}

.para1 {
    max-width: 85%;
    margin: 20vh auto 0 auto;
}

.para1 h1 {
    margin-bottom: 6vh;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.para2 {
    background-color: #65B6E6;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 28vh;
    max-height: 200px;
    flex-wrap: wrap;
    margin-top: 6vh;
}

.case {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    max-width: 200px;
    color: #141414;
}

.case h3 {
    font-weight: 500;
    font-size: 1.7em;
}

.case p {
    margin-top: 1vh;
}

.para3 {
    max-width: 90%;
    margin: 6vh auto 0 auto;
}

.para3 h2 {
    text-align: center;
    font-family: 'Audiowide';
    font-size: 1.5em;
    font-weight: 500;
}

.bloc1 {
    margin-left: auto;
    margin-right: auto;
    background: white;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    height: 12vh;
    color: #141414;
    margin-top: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.bloc2 img {
    margin-bottom: 5vh;
    border: 1px solid black ;
    margin-left: 20%;
}

.bloc3 {
    margin-left: 25%;
}

.para4 {
    margin-top: 6vh;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.para4 h2 {
    text-align: center;
    font-family: 'Audiowide';
    font-size: 1.5em;
    font-weight: 500;
}

.para4 img {
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-top: 5vh;
}

.para4 h3 {
    text-align: center;
    font-family: 'Audiowide';
    font-weight: 500;
    color: #ADD982;
}

.para4 p {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 15vh;
}













/******* FIN PAGE NOS VALEURS ********/








/***********FORMULAIRE DE CONTACT************/

.body_form2{
    margin: 0;
    padding: 0;
    z-index: -1;
  }

  .body_form2 h1 {
    margin-top: 20vh;
    margin-bottom: 6vh;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
  }

  .box2{
    width: 100%;
    position: absolute;
    text-align: center;
    border-radius: 50px;
  }
  .box2 h1{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 400;
  }
  
  .box2 h2 {
      color: #65B6E6;
      font-size: 1em;
      font-weight: 300;
  }
  .box2 input[type = "text"],.box2 textarea{
    border:0;
    background: white;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 14px 10px;
    width: 70%;
    max-width: 500px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.25s;
  }
  .box2 input[type = "text"]:focus,.box2 input[type = "password"]:focus{
    transform: scale(1.05);
  }
  .box2 input[type = "submit"]{
    border:0;
    background-color: #65B6E6;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid none;
    padding: 14px 40px;
    outline: none;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    width: 70%;
    max-width: 500px;
  }
  .box2 input[type = "submit"]:hover{
    background: #3e9dd4;
  }
  
  .box2 ::placeholder {
    color : #a1a1a1;
  }

  .honeypot {
    display: none;
  }

/***********FIN FORMULAIRE DE CONTACT************/



/****************** CONNEXION****************/

.body_form{
  margin: 0;
  padding: 0;
  z-index: -1;
}
.box{
  width: 95%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 50px;
}
.box h1{
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 400;
}

.box h2 {
    color: #65B6E6;
    font-size: 1em;
    font-weight: 300;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 14px 10px;
  width: 50vw;
  max-width: 500px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  transform: scale(1.05);
}
.box input[type = "submit"]{
  border:0;
  background-color: #65B6E6;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid none;
  padding: 14px 40px;
  outline: none;
  color: #ffffff;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
  width: 50vw;
  max-width: 500px;
}
.box input[type = "submit"]:hover{
  background: #3e9dd4;
}

.box ::placeholder {
  color : #a1a1a1;
}

/**************** FIN DE CONNEXION ******************/


/**************** ESPACE CLIENT ****************/

.msg_connecte,.msg_err {
    color: white;
    display: inline;
}
.msg_err {
    position: absolute;
    top: 50%;
    left: 17%;
}
.msg_connecte {
    position: absolute;
    top: 20%;
    margin: 0 25% 0 25%;
}

.listeInfoUser {
    position: absolute;
    top: 40%;
    margin-left: 10%;

}


/**************** FIN ESPACE CLIENT ****************/