@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Kanit';
    color: white;
}

h1 {
    font-family: 'Audiowide';
}

.background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: rgba(61, 61, 61, 0.445);
}

.background video {
    position: absolute;
    z-index: -100;
}




/********* NAVBAR *******/

.navbar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    font-family: 'Audiowide';
    align-items: center;
}

.navbar .hidden {
    display: none;
}

.navbar .logo {
    font-size: 2em;
}

.navbar a {
    color: white;
}

.navbar .navbar_links ul {
    display: flex;
}

.navbar .navbar_links ul li {
    margin-right: 3vw;
}

.navbar .navbar_links li:active a {
    color: rgb(26, 109, 218);
}

.menu {
    display: none;
}

.image_logo {
    width: 10vw;
    height: auto;
}

@media screen and (max-width: 850px) {
    

    .image_logo {
        width: 30vw;
        height: auto;
    }

    .background video {
        display: none;
    }

    body {
        background: rgb(31, 31, 31);
    }

    .navbar {
        padding: 0;
        position: absolute;
        z-index: 1;
    }

    .navbar .logo {
        font-size: 1.3em;
        margin-left: 3vw;
    }

    .navbar .navbar_links ul li {
        margin-right: 0;
    }
    
    .navbar_links {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(22, 22, 22, 0.699);
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        
    }

    .navbar_links.mobile-menu {
        margin-left: 0;
    }

    .navbar_links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3em;

    }

    .navbar_links ul li {
        margin: 2vh 0;
    }


    


    /******* BOUTON BURGER ********/


    .menu {
        z-index: 2;
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        margin: 20px;
        margin-left: auto;
      }

      .line {
        fill: none;
        stroke: white;
        stroke-width: 3;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 3;
      }

      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 3;
      }

      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 3;
      }

      .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 3;
      }

      .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 3;
      }

      .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 3;
      }

    /******* FIN BOUTON BURGER ********/

    

}



/********* FIN NAVBAR *******/

/********* PAGE D'ACCUEIL *********/

.title {
    margin-top: 30vh;
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 1.3em;
}

.accroche {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 5vh;
    font-size: 1.2em;
    font-weight: 300;
}

.call-to-action {
    display: flex;
    border: none;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    padding: 15px;
    width: 300px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Kanit';
    font-size: 1em;
    background-color: #65B6E6;
    z-index: 2;
}

.bleue {
    color: #65B6E6;
}









/********* FIN PAGE D'ACCUEIL *********/





/***********FORMULAIRE DE CONTACT************/
.container {
    padding: 5vh 1vh;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;

}

.formulaire {
    color: #141414;
    width: 100%;
    z-index: -1;
    right: 0;
    left: 0;
    background-color: rgb(240, 240, 240);
    box-shadow: 4px 0px 4px 8px rgba(122, 1, 1, 1);
    margin-bottom: 5rem;
}


.formulaire h2 {
    text-align: center;
    padding-top: 3vh;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.cache {
    display: none;
}

.rouge {
    color: red;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input[type=submit] {
    background-color: rgba(122, 1, 1, 1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/***********FIN FORMULAIRE DE CONTACT************/



/****************** CONNEXION****************/

.body_form{
  margin: 0;
  padding: 0;
  z-index: -1;
}
.box{
  width: 95%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 50px;
}
.box h1{
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 400;
}

.box h2 {
    color: #65B6E6;
    font-size: 0.8em;
    font-weight: 300;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 14px 10px;
  width: 50vw;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  transform: scale(1.05);
}
.box input[type = "submit"]{
  border:0;
  background-color: #65B6E6;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid none;
  padding: 14px 40px;
  outline: none;
  color: #ffffff;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
  width: 50vw;
}
.box input[type = "submit"]:hover{
  background: #3e9dd4;
}

.box ::placeholder {
  color : #a1a1a1;
}

/**************** FIN DE CONNEXION ******************/


/**************** ESPACE CLIENT ****************/

p .msg_intro {
    color: white;
    z-index: 10;
}


/**************** FIN ESPACE CLIENT ****************/